<mat-toolbar>
  <button
    mat-icon-button
    routerLink="/create-new-task"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    aria-label="Icon button with plus icon">
    <mat-icon>add</mat-icon>
  </button>

  <span class="spacer"></span>

  <button
    mat-icon-button
    routerLink="/"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    aria-label="Icon button with numbered list icon">
    <mat-icon>list</mat-icon>
  </button>

  <button
    mat-icon-button
    routerLink="/archived-tasks"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    aria-label="Icon button with checked icon">
    <mat-icon>checklist</mat-icon>
  </button>
</mat-toolbar>
