:host {
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.mat-spinner-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;

  mat-form-field {
    width: 100%;
  }

  .mat-buttons-container {
    display: flex;
    justify-content: end;
  }
}
