<h1>Create new task</h1>

@if (isCreating()) {
  <div class="mat-spinner-container">
    <mat-spinner></mat-spinner>
  </div>
} @else {
  <form [formGroup]="createTaskFormGroup" (ngSubmit)="save()">
    <mat-form-field>
      <mat-label>Task title</mat-label>
      <input matInput formControlName="title" />
      @if (createTaskFormGroup.get('title')?.hasError('required')) {
        <mat-error>Task title is required</mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>Task description</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>

    <div class="mat-buttons-container">
      <button mat-button (click)="reset($event)">Reset</button>
      <button mat-button>Save</button>
    </div>
  </form>
}
