:host {
  height: 100%;
  display: block;
}

.mat-spinner-container,
.placeholder-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


form {
  width: 100%;

  mat-form-field {
    width: 100%;
  }
}
