@if (isLoading()) {
<div class="mat-spinner-container">
  <mat-spinner></mat-spinner>
</div>
} @else { @if (!activeTasks().length) {
<div class="placeholder-container">Nothing to see here</div>
} @else {
<mat-accordion>
  @for (task of activeTasks(); track $index) {
  <mat-expansion-panel [expanded]="$index === 0">
    <mat-expansion-panel-header>
      <mat-panel-title>{{ task.title }}</mat-panel-title>
    </mat-expansion-panel-header>

    @if (!isEditing()) {
    <p>{{ task.description }}</p>
    } @else {
    <form [formGroup]="formGroup">
      <mat-form-field>
        <mat-label>Task description</mat-label>
        <textarea matInput formControlName="taskDescription"></textarea>
        @if (formGroup.get('taskDescription')?.hasError('required')) {
        <mat-error>Task description is required</mat-error>
        }
      </mat-form-field>
    </form>
    }

    <mat-action-row>
      @if (!isEditing()) {
      <button mat-button (click)="editTask(task)">Edit</button>
      <button mat-button (click)="completeTask(task)">Done</button>
      <button mat-button (click)="deleteTask(task._id!)">Delete</button>
      } @else {
      <button mat-button (click)="cancel()">Cancel</button>
      <button mat-button [disabled]="formGroup.invalid" (click)="save(task)">Save</button>
      }
    </mat-action-row>
  </mat-expansion-panel>
  }
</mat-accordion>
} }
